@charset "ISO-8859-1";
body {
  font-family: Arial, sans-serif;
  background-color: #aef2f1;
}

h3 {
  color: #333;
  font-size: 24px;
  margin-top: 30px;
}

label {
  display: block;
  margin-top: 10px;
}

input[type="text"],
input[type="date"] {
  display: block;
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  font-size: 16px;
  box-sizing: border-box;
}
input[type="submit"]{
	 padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button[type="submit"] {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button[type="button"] {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.message-box {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: #f2f2f2;
  padding: 10px;
  border: 1px solid #ccc;
  width: 200px;
  text-align: center;
}

.login-button {
  position: absolute;
  top: 10px;
  right: 10px;
}


.message {
  color: green;
  font-weight: bold;
}
